.navbar {
  background-color: #ffffff;
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, 0.1),
    0 3px 1px 0 rgba(20, 23, 28, 0.1);
}
.top-navigation {
  background-color: rgb(246, 247, 249);
  font-size: 1em;
  color: rgb(92, 92, 92);
}
.Menu-items {
  margin: 0px;
  padding-inline-start: 0px;
  padding: 6px 0px 6px 0px;
}
.Menu-items li {
  display: inline;
  margin-right: 20px;
  padding: 6px 5px 6px 5px;
}
.Menu-items li:hover {
  background-color: rgb(221, 222, 224);
}
